<cfoutput>

	<!--

		ASSUMES YOU HAVE JQUERY ALREADY INCLUDED

		AND

		ASSUMES YOU ARE USING THE MURABOOTSTRAP THEME WTIH THE JS FOR THESE AS WELL



	<script>
	$(window).load(function () {

		$('.testing a').tab('show');

	});
	</script>
	-->
</cfoutput>